@font-face {
    font-family: "VTC Carrie";
    src: url("../VTCCarrie-Regular.otf") format("opentype");
}

:root {
    --green: #84b849;
    --melon: #eaa467;
    --copper: #bd6439;
    --trans-copper: rgba(189, 100, 57, .05);
    --light-copper: #fcf7f5;
    --red: #eb414c;
    --blue: #89c9d0;
}

#svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


html {
    font-size: 5.3vw;
}

body {
/*    font-family: "news-gothic-std", sans-serif;*/
    color: var(--copper);
    font-family: "ocr-a-std", monospace;
    font-weight: 500;
    margin: 0;
/*    background-color: var(--green);*/
    margin: auto;
    padding: .5rem;
    letter-spacing: -0.1rem;
/*    background-color: rgba(0,0,255, .05);*/
    background-color: var(--light-copper);
}

main > * {
/*    background-color: white;*/
/*    padding: .25rem;*/
/*    border-radius: .25rem;*/
}

h1, h2, h3 {
/*    font-family: "VTC Carrie";*/
    font-family: "ocr-a-std", monospace;
    text-transform: uppercase;
    margin-top: .2rem;
    margin-bottom: .5rem;
    color: white;
    -webkit-text-stroke: .5px var(--copper);
/*    background-color: var(--copper);*/
}

h1 {
    font-size: 2rem;
}


a {
    color: var(--copper);
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-thickness: .2rem;
    text-decoration-skip-ink: none;

}

a:hover {
    background-color: blue;
    color: white;
    transition: .125s;
}

a:has(.entry) {
    text-decoration: none;
    background-color: unset;
}

a:has(.entry):hover {
/*    text-decoration: blue .25rem underline;*/
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

img.loading {
    background-color: var(--copper);
    min-width: 100px;
    min-height: 200px;
    border-radius: .5rem;
}

header {
    width: max-content;
    max-width: calc(100vw - 2rem - 2px);
    margin-bottom: 1rem;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .9);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 4px 0px var(--copper);
    border: 1px solid var(--copper);
}

header h1 {
    font-size: 1rem;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    top: -0.3rem;
}

header nav {
/*    position: absolute;*/
/*    bottom: .5rem;*/
    display: inline;
}

header li {
    float: left;
}

header *:not(:last-child) {
    padding-right: 1rem;
}

.breadcrumbs {
    font-size: .6rem;
    border: 1px solid var(--copper);
    border-radius: 2rem;
    background-color: white;
    padding: 0 .6rem;
    display: inline-block;
    text-transform: lowercase;
}

.breadcrumbs ol {
    overflow: auto;
    list-style-type: none;
    padding: 0;
}

.breadcrumbs ol * {
    float: left;
}

.breadcrumbs > ol > *:not(:last-child) {
    padding-right: .5rem;
}

.breadcrumbs > ol > *:last-child::after {
    content: "\2002";
}

main {
    /*max-width: 90vw;
    margin: auto;*/
    margin-top: 1rem;
    margin-bottom: 4rem;
    min-height: 90vh;
}

main img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid var(--copper);
/*    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);*/
}


hr {
    border-style: none;
    border-bottom: .1625rem dashed blue;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav {
    text-align: left;
}

nav a {
/*    color: var(--copper);*/
}

li::marker {
/*    content: "\2192";*/
}

ul {
    display: inline-block;
    margin-top: .1em;
    margin-bottom: .1em;
    padding-inline-start: 0;
    list-style-type: none;
}

li {
    width: max-content;
}

.tags li {
    float: left;
    border: 1px solid var(--copper);
    background-color: white;
    border-radius: 1rem;
    padding: .25rem .625rem;
    margin-bottom: .5rem;
    font-size: .8rem;
    text-transform: lowercase;
}

.tags li:not(:last-child) {
    margin-right: .5rem;
}

.entry {
    margin-bottom: 2rem;
}

.entry > a {
    text-transform: lowercase;
}

.entries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem;
}

.entry-details {
    margin-top: .5rem;
}


.entry-photos img {
    width: auto;
    height: 74vh;
}

#header-img {
    border: 1px solid var(--copper);
    border-radius: 75px;
}

.link {
    background-color: white;
    border-radius: 2rem;
    border: 2pt solid var(--copper);
    padding: 1rem;
    text-align: center;
    box-shadow: 10px 10px 0px 0px var(--copper);
    position: relative;
    width: fit-content;
    margin: auto;
}

.link p:has(> img) {
    max-width: 80vw;
    max-height: 40vh;
    width: fit-content;

}

.link:hover {
    cursor: pointer;
    border: 2pt solid var(--copper);
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px 0px var(--copper);
}

.link:not(:last-child) {
    margin-bottom: 2rem;
}

.link img { 
    max-width: 90vw;
    max-height: 40vh;
    border: 1px solid var(--copper);
    border-radius: 1rem;
}

@media (min-width: 600px) {
    html {
        font-size: 1.3vw;
        text-align: center;
    }

    main img {
        width: auto;
        height: 100%;
        max-height: 90vh;
    }

    .cover-image img {
        max-height: 400px;
    }

    .entry {
        display: inline-block;
        width: max-content;
        margin-right: .125rem;
    }

    header h1 {
        letter-spacing: 4px;
    }

}

@media (max-width: 599px) {
    html {
/*        container-type: scroll-state;*/
/*        container-name: scroller;*/
        background-color: var(--copper);
    }

    body {
        border-radius: 1rem 1rem 0 0;
    }

    header {
        position: fixed;
        z-index: 1;
        bottom: 0rem;
        max-width: unset;
        width: calc(100vw - 2rem - 2px);
        margin: auto;
        margin-bottom: .5rem;
        padding: .5rem;
        text-align: center;
        border-bottom: 0;
/*        border-radius: 1rem;*/
        background-color: rgba(189,100,57, .75);
    }

    header * {
        color: white;
        -webkit-text-stroke: 0px;
    }

    header h1 {
        transition: 0.5s font-size;
    }

    header {
        transition: .5s border, .5s padding, .5s translate, .5s border-radius;
        translate: 0;
    }

  /*  .entry-photos {
        display: block;
        position: relative;
    }

    .entry-photos img {
        width: auto;
        max-height: 100%;
    }*/

    /*    mf safari doesn't support this*/
    /*@container scroller scroll-state(scrollable: top) {
        header h1 {
            font-size: 1.5rem;
        }
        header {
            border-radius: .5rem;
            padding: .5rem;
            position: fixed;
            translate: 0 -.25rem;
            background-color: rgba(255, 255, 255, .4);
        }
        header * {
            display: inline-block;
        }
    }*/

    .entry-photo-container {
    overflow: overlay;
    }

    .entry-photos  {
        display: block;
        position: relative;
        overflow-x: scroll;
        overflow-y: clip;
        width: max-content;
        max-height: 75vh;
    }
    

}