@font-face {
    font-family: "VTC Carrie";
    src: url("../VTCCarrie-Regular.otf") format("opentype");
}

:root {
    --green: #84b849;
    --melon: #eaa467;
    --brown: #8f4421;
    --red: #eb414c;
    --blue: #89c9d0;
}

h1, h2, h3 {
    font-family: "VTC Carrie";
    text-transform: uppercase;
    margin-top: .2em;
    margin-bottom: .1em;
    color: var(--melon);
}

h1 {
    font-size: 2rem;
}


a {
    color: var(--green);
}

html {
    background-color: var(--green);
}

body {
    background-color: #fff;
    padding: .325rem;
}

p {
    margin: 0;
}

main {
    /*max-width: 90vw;
    margin: auto;*/
    margin-bottom: 4rem;
    min-height: 90vh;
}

main img {
    max-width: 50%;
}

hr {
    border-style: solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header h1 {
    text-align: left;
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: .2em;
    margin-bottom: .4em;
    color: var(--red);
}

nav {
    text-align: left;
    margin-bottom: 3rem;
}

nav a {
    color: black;
}

li::marker {
    content: "\2192";
}

ul {
    margin-top: .1em;
    margin-bottom: .1em;
    padding-inline-start: 1em;
}

#header-img {
    border: 1px solid black;
    border-radius: 75px;
}

.link {
    background-color: white;
    border-radius: 2rem;
    border: 2pt solid black;
    padding: 1rem;
    text-align: center;
    box-shadow: 10px 10px 0px 0px black;
    position: relative;
    width: fit-content;
    margin: auto;
}

.link p:has(> img) {
    max-width: 80vw;
    max-height: 40vh;
    width: fit-content;

}

.link:hover {
    cursor: pointer;
    border: 2pt solid black;
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px 0px black;
}

.link:not(:last-child) {
    margin-bottom: 2rem;
}

.link img { 
    max-width: 90vw;
    max-height: 40vh;
    border: 1px solid black;
    border-radius: 1rem;
}
