@font-face {
    font-family: "VTC Carrie";
    src: url("../VTCCarrie-Regular.otf") format("opentype");
}

:root {
    --green: #84b849;
    --melon: #eaa467;
    --brown: #8f4421;
    --trans-brown: rgba(143, 68, 33, .5);
    --red: #eb414c;
    --blue: #89c9d0;
}

#svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


html {
    font-size: 5.3vw;
}

@media (min-width: 500px) {
    html{
        font-size: 1.2vw;
   }
}

body {
/*    font-family: "news-gothic-std", sans-serif;*/
    font-family: "ocr-a-std", monospace;
    font-weight: 500;
    margin: 0;
    padding: .325rem;
/*    background-color: var(--green);*/
/*    max-width: 1200px;*/
    margin: auto;
    padding: 1rem;
    letter-spacing: -0.1rem;
}

h1, h2, h3 {
/*    font-family: "VTC Carrie";*/
    font-family: "ocr-a-std", monospace;
    text-transform: uppercase;
    margin-top: .2rem;
    margin-bottom: .5rem;
    color: white;
    -webkit-text-stroke: .5px black;
/*    background-color: var(--brown);*/
    text-align: justify;
    width: max-content;
}

h1 {
    font-size: 2rem;
}


a {
    color: black;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-thickness: .2rem;
    text-decoration-skip-ink: none;

}

a:hover {
    background-color: blue;
    color: white;
    transition: .125s;
}

a:has(.entry) {
    text-decoration: none;
    background-color: unset;
}

a:has(.entry):hover {
/*    text-decoration: blue .25rem underline;*/
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

header {
    text-align: right;
    width: max-content;
    max-width: calc(100vw - 4rem);
    margin-bottom: 1rem;
    backdrop-filter: blur(3px);
/*    background: rgba(255, 255, 255, .9);*/
    border-radius: 1rem;
    padding: 1rem;
/*    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .5);*/
    border: 1px solid black;
    position: fixed;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: .4em;
}

header > * {
    float: left;
}

header nav {
    position: absolute;
    bottom: .5rem;
}

header li {
    float: left;
}

header li:not(:last-child) {
    padding-right: 1rem;
}

main {
    /*max-width: 90vw;
    margin: auto;*/
    margin-top: 8rem;
    margin-bottom: 4rem;
    min-height: 90vh;
}

main img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid black;
/*    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);*/
}


hr {
    border-style: none;
    border-bottom: .25rem solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav {
    text-align: left;
}

nav a {
/*    color: black;*/
}

li::marker {
/*    content: "\2192";*/
}

ul {
    display: inline-block;
    margin-top: .1em;
    margin-bottom: .1em;
    padding-inline-start: 0;
    list-style-type: none;
}

li {
    width: max-content;
}

.tags li {
    float: left;
}

.tags li:not(:last-child) {
    margin-right: .5rem;
}

.entry {
    margin-bottom: 2rem;
}

.entries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.entry-details {
    margin-top: .5rem;
}

.entry-photo-container {
    overflow: overlay;
}
.entry-photos  {
    overflow: scroll;
    width: max-content;
    max-height: 75vh;
}

.entry-photos img {
    width: auto;
    height: 74vh;
}

#header-img {
    border: 1px solid black;
    border-radius: 75px;
}

.link {
    background-color: white;
    border-radius: 2rem;
    border: 2pt solid black;
    padding: 1rem;
    text-align: center;
    box-shadow: 10px 10px 0px 0px black;
    position: relative;
    width: fit-content;
    margin: auto;
}

.link p:has(> img) {
    max-width: 80vw;
    max-height: 40vh;
    width: fit-content;

}

.link:hover {
    cursor: pointer;
    border: 2pt solid black;
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px 0px black;
}

.link:not(:last-child) {
    margin-bottom: 2rem;
}

.link img { 
    max-width: 90vw;
    max-height: 40vh;
    border: 1px solid black;
    border-radius: 1rem;
}

@media (min-width: 600px) {
    main img {
        width: auto;
        height: 100%;
        max-height: 400px;
    }

    .entry {
        display: inline-block;
        width: max-content;
        margin-right: .125rem;
    }

    header h1 {
        letter-spacing: 4px;
    }
}

@media (max-width: 599px) {

    

}