@font-face {
    font-family: "VTC Carrie";
    src: url("../VTCCarrie-Regular.otf") format("opentype");
}

:root {
    --green: #84b849;
    --melon: #eaa467;
    --brown: #8f4421;
    --trans-brown: rgba(143, 68, 33, .5);
    --red: #eb414c;
    --blue: #89c9d0;
}


html {
    font-size: 5.3vw;
    background-color: var(--brown);
}

@media (min-width: 500px) {
    html{
        font-size: 1.5vw;
   }
}

body {
    background-color: #fff;
    padding: .325rem;
    color: var(--brown);
}

h1, h2, h3 {
    font-family: "VTC Carrie";
    text-transform: uppercase;
    margin-top: .2rem;
    margin-bottom: .5rem;
    color: white;
    -webkit-text-stroke: .5px black;
    background-color: var(--brown);
    text-align: justify;
    width: max-content;
}

h1 {
    font-size: 2rem;
}


a {
    color: blue;
}

a:has(.entry) {
    text-decoration: none;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

header {
    text-align: right;
    width: max-content;
    max-width: calc(100vw - 4rem);
    margin-bottom: 1rem;
}

main {
    /*max-width: 90vw;
    margin: auto;*/
    margin-bottom: 4rem;
    min-height: 90vh;
}

main img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid black;
/*    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);*/
}


hr {
    border-style: none;
    border-bottom: .625rem solid var(--brown);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
    margin-bottom: .4em;
}

nav {
    text-align: left;
}

nav a {
/*    color: black;*/
}

li::marker {
    content: "\2192";
}

ul {
    display: inline-block;
    margin-top: .1em;
    margin-bottom: .1em;
    padding-inline-start: 1em;
}

li {
    width: max-content;
}

nav li {}

.entry {
    margin-bottom: 2rem;
}

#header-img {
    border: 1px solid black;
    border-radius: 75px;
}

.link {
    background-color: white;
    border-radius: 2rem;
    border: 2pt solid black;
    padding: 1rem;
    text-align: center;
    box-shadow: 10px 10px 0px 0px black;
    position: relative;
    width: fit-content;
    margin: auto;
}

.link p:has(> img) {
    max-width: 80vw;
    max-height: 40vh;
    width: fit-content;

}

.link:hover {
    cursor: pointer;
    border: 2pt solid black;
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px 0px black;
}

.link:not(:last-child) {
    margin-bottom: 2rem;
}

.link img { 
    max-width: 90vw;
    max-height: 40vh;
    border: 1px solid black;
    border-radius: 1rem;
}

@media (min-width: 600px) {
    main img {
        width: auto;
        height: 100%;
        max-height: 400px;
    }

    .entry {
        display: inline-block;
        width: max-content;
        margin-right: .125rem;
    }
}